#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  }
  .popup-body {
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 30%;
  top: 30%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }



.Wservice{
  display: flex;
}

.serve{
  background-color: rgb(179, 179, 179);
  width: 300px;
  padding: 50px;
  margin: 20px;
}


table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #a8a8a8;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}

/* LOGIN PAGE */

body {
  background-color: #FFCC70;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  display:block;
  margin:0 auto;
  background-color: #E5E8CD;
  border-color: #E5E8CD;
  border-radius: 8px;
  color:#0D597F;
  height: 30px;
  width: 400px;
  border:none;
  outline:none;
}

.loginbox {
  color:#0D597F;
  background-color: #FFF5CF;
  border-radius: 50px;
  display:flex;
  flex-direction: column;
  margin:auto;
  width:500px;
  box-shadow: 0 4px 4px grey;
}

.inputlabel {
  margin-left: auto;
  text-align: left;
  font-size: 12pt;
}

.submitlogin, .button1 {
  background-color: #0D597F;
  border-radius: 50px;
}

.logo {
  width:150px;
  height:150px;
  margin:0 auto;
}